body {
    background-image: url("img/background.jpeg");
    color: indigo;
    width: 100%;
    height: 100%;
}

#instructions {
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: xx-large;
    font-weight: bolder;

    position: fixed;
    top: 50px;
    left: 33%;
}

#incrementA {
    background-image: url("img/redButtonSmall.png");
    width: 160px;
    height: 61px;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: larger;
    font-weight: bolder;

    position: fixed;
    bottom: 50px;
    left: 100px;
}

#incrementAInstructions {
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: xx-large;
    font-weight: bolder;

    position: fixed;
    left: 170px;
    bottom: 0px;

    z-index: 10000;
}

#incrementB {
    background-image: url("img/redButtonSmall.png");
    width: 160px;
    height: 61px;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: larger;
    font-weight: bolder;

    position: fixed;
    bottom: 50px;
    right: 290px;
}

#incrementBInstructions {
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: xx-large;
    font-weight: bolder;

    position: fixed;
    right: 170px;
    bottom: 0px;

    z-index: 10000;
}

#decrementA {
    background-image: url("img/blueButtonSmall.png");
    width: 160px;
    height: 61px;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: larger;
    font-weight: bolder;

    position: fixed;
    bottom: 50px;
    left: 290px;
}

#decrementAInstructions {
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: xx-large;
    font-weight: bolder;

    position: fixed;
    bottom: 0px;
    left: 360px;

    z-index: 10000;
}

#decrementB {
    background-image: url("img/blueButtonSmall.png");
    width: 160px;
    height: 61px;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: larger;
    font-weight: bolder;

    position: fixed;
    bottom: 50px;
    right: 100px;
}

#decrementBInstructions {
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: xx-large;
    font-weight: bolder;

    position: fixed;
    bottom: 0px;
    right: 360px;

    z-index: 10000;
}

#teamAScore {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: xx-large;
    
    position: fixed;
    bottom: 150px;
    left: 203px;

    background-image: url("img/fire.png");

    width: 141px;
    height: 64px;

    text-align: center;

    font-style: oblique;
}

#teamAVal {
    /* position: fixed;
    bottom: 115px;
    left: 262px; */
    position: relative;
    bottom: 5px;
}

#teamBScore {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: xx-large;
    
    position: fixed;
    bottom: 150px;
    right: 203px;

    background-image: url("img/fire.png");

    width: 141px;
    height: 64px;

    text-align: center;

    font-style: oblique;
}

#teamBVal {
    /* position: fixed;
    bottom: 115px;
    right: 262px; */
    position: relative;
    bottom: 5px;
}

#rocketA {
    background-image: url("img/rocket.png");

    width: 29px;
    height: 136px;

    position: fixed;
    bottom: 180px;
    left: 258px;
}

#rocketB {
    background-image: url("img/rocket.png");

    width: 29px;
    height: 136px;

    position: fixed;
    bottom: 180px;
    right: 258px;
}

#congratulations {
    position: fixed;
    top: 100px;
    left: 33%;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    color: gold;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}